@model List<SportsComplex>
@{
  ViewData["Title"] = "Add competition";
}

<h1 class="display-6">Add competition:</h1>

<form asp-controller="Competition" asp-action="Add" method="post">
  <div class="mb-3">
    <label for="Name" class="form-label">Name</label>
    <input type="text" id="Name" name="Name" class="form-control" required>
  </div>
  <div class="mb-3">
    <label for="StartDate" class="form-label">Start date</label>
    <input type="date" name="StartDate" id="StartDate" class="form-control" required>
  </div>
  <div class="mb-3">
    <label for="EndDate" class="form-label">End date</label>
    <input type="date" name="EndDate" id="EndDate" class="form-control" required>
  </div>
  <div class="mb-3">
    <label for="SportsComplexId" class="form-label">Sports complex</label>
    <select name="SportsComplexId" id="SportsComplexId" class="form-control" required>
      @foreach (SportsComplex currSport in Model)
      {
        <option value="@currSport.Id">@currSport.Name</option>
      }
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>